
{% extends "blog/base.html" %}
{% block content %}
      <div id="login-box">
          <div class="left-box">
              <h1> Registration</h1>
                <input type="text" name="name" placeholder="Name"/>
                <input type="text" name="surname" placeholder="Surname"/>
                <input type="text" name="email" placeholder="Email"/>
                <input type="text" name="id" placeholder="ID"/>        
                <input type="submit" name="signup-button" value="Register"/>
          </div>
          
          <div class="right-box">           
            <div class="subright-box"></div>
          </div>
        </div>


      
{% endblock content %}